{% extends 'base.html' %}

{% block content %}

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <style>

    footer {
      font-size: 0.8em;
      color: darkgray;
    }
      <h1>Реклама</h1>
    <p>
      Направление в маркетинговых коммуникациях, в рамках которого производится распространение информации для привлечения
        внимания к объекту рекламирования с целью формирования или поддержания интереса к нему. «Узкое определение рекламы — платное
        однонаправленное и неличное обращение, осуществляемое через средства массовой информации и другие виды связи, агитирующее
        в пользу какого-либо товара, марки, фирмы, какого-либо предприятия, кандидата, правительства»
    </p>
{% endblock %}

</head>


<body>

</body>
</html>