{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block title %}
  Index page
{% endblock %}

{% block body %}
  <div>
    <h1><strong>38-ФЗ Федеральный закон О рекламе</strong></h1>
    <p>
Федеральный закон "О рекламе" от 13.03.2006 N 38-ФЗ в редакции от 07.05.2013

15.09.2019

Федеральный закон "О рекламе" от 13.03.2006 N 38-ФЗ в редакции от 07.05.2013 Закон о реклааме
      принят Государственной Думой Федерального собрания РФ 22 февраля 2006 года. Одобрен Советом
      Федерации РФ 3 марта 2006 года. Закон представлен со всеми изменениями на 2013 год, включая
      Федеральный закон о внесении изменений в "Закон о рекламе" N 98-ФЗ от 07.05.2013 Целями
      опубликованного на сайте Федерального закона О рекламе являются необходимость развитие
      рынков Российской федерации товаров, услуг и работ, основанных на обязательном соблюдения
      добросовестности конкуренции, принципов обеспечение единства экономического пространства
      Российской Федерации, на основе и с учетом реализация права потребителей на получение
      достоверной и добросовестной информации и рекламы, создание благоприятных условий для
      распространения социальной рекламы, предупреждение нарушения законодательства Российской
      Федерации о рекламе, производства рекламы, а также пресечение фактов производства и
      распространения ненадлежащей рекламы. Утвержденный и действующий Федеральный закон применяется
      к любым взаимотношениям в сфере рекламы независимо от места ее распространения и (или)
      производства, при условии, что распространение рекламы осуществляется на территории
      Российской Федерации. Настоятельно рекомендую коллегам-маркетологам внимательно изучить
      основной регламентирующий документ нашей профессиональной деятельности.
    </p>
  </div>

{% endblock %}