{% extends 'base.html' %}

{% block head %}
  <style>
    footer {
      font-size: 0.8em;
      color: darkgray;
    }
  </style>

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock %}

{% block body %}
  <div>
    <h1><strong>Реклама</strong></h1>
    <p>
      Реклама (от лат. reclamare - выкрикивать) - информация, распространенная любым способом,
      в любой форме и с использованием любых средств, адресованная неопределенному кругу лиц и
      направленная на привлечение внимания к объекту рекламирования, формирование или поддержание
      интереса к нему и его продвижение на рынке. Объект рекламирования - товар, средства индивидуализации
      юридического лица и (или) товара, изготовитель или продавец товара, результаты интеллектуальной деятельности
      либо мероприятие (в том числе спортивное соревнование, концерт, конкурс, фестиваль, основанные на риске игры, пари),
      на привлечение внимания к которым направлена реклама
    </p>
    <p>
      <strong>Реклама</strong> – форма неличного представления и продвижения идей, товаров, услуг от имени какой-либо компании.
      Реклама представляет собой неличные формы коммуникации, осуществляемые посредством платных средств распространения
      информации с четко указанным источником финансирования. Реклама – это ведущее звено маркетинговых коммуникаций,
      являющее собой форму неличного представления и продвижения идей, товаров или услуг и оплачиваемое точно установленным
      заказчиком. Или: это комплекс мер, которые прямо или косвенно помогают достичь целей производителя.
    </p>
    <h2>Главная цель рекламы – увеличение объема реализации товаров и услуг.</h2>
    <p>Вторичные цели рекламы. Цели рекламодателя представляют собой совокупность взаимоувязанных и взаимообусловленных
      результатов рекламной кампании. Отсюда, цели можно определить и расположить следующим образом:</p>
    <ol>
      {#      {% for name in ['Apple', 'Orange', 'Strawberry'] %}#}
      {#        <li>{{ name }}</li>#}
      {#      {% endfor %}#}

      <li>
        повышение (формирование) спроса на продукцию;.
      </li>
      <li>
        четкое обозначение для потребителей позиций товаров на сегментах рынка;
      </li>
      <li>
        пропаганда потребительских свойств товара;
      </li>
      <li>
        пропаганда торговых марок;
      </li>
      <li>
        увеличение присутствия на рынке;
      </li>
      <li>
        содействие построению сбытовых каналов;
      </li>
      <li>
        повышение престижа фирмы;
      </li>
      <li>
        как конечная и наиболее важная цель – увеличение числа продаж.
      </li>

    </ol>

    <p>
      Часто полагают, что маркетинг – это в основном реклама. Реклама это внешнее и очевидное проявление маркетинговой
      деятельности. Однако, реклама – это лишь один из способов донести до ЦА разработанную маркетологами информацию.
      Реклама, как вид маркетинговой коммуникации, включена в промоушн микс – комплекс мероприятий маркетинга,
      нацеленный на популяризацию предмета маркетинга.
    </p>
  </div>

{% endblock %}